.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: auto solid whitesmoke;
  padding: 10px;
}

.transparent {
  background-color: class="p-3 mb-2 bg-dark text-white";
}

.original {
  background-color: rgba(255, 92, 53);
}

 /*Additional Styling*/

body {
  width: 800px; 
  padding-top: 30px;
  background-image: url("https://as2.ftcdn.net/v2/jpg/05/70/54/07/1000_F_570540765_EkBpTlLYkqHbzYxSYmv4CE1q7K7bqgOj.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div { 
  height: 200px;
  width: 500px;
  margin: auto;
  padding: 20px; 
}

.header{
  padding: 35px;
}