.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid whitesmoke;
  padding: 10px;
}

.colour-background{
  background-color: black;
  padding: 10px;
}

.header{
  padding: 35px;
}