.field{
  width: 300px;
  padding-bottom: 20px;
  padding-left: -20px;
  padding-top: -20px;
}

.colour-border{
  border: 20px solid whitesmoke;
  padding: 10pc;
}

.transparent {
  background-color: rgb(72, 195, 226);
}

.original {
  background-color: rgb(72, 87, 226);
}

 /*Additional Styling*/

body {
  width: 800px; 
  padding-top: 30px;
  background-image: url("https://images8.alphacoders.com/133/1336966.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: aliceblue;
}

div { 
  height: 20px;
  width: 50px;
  margin: auto;
  padding: 10px; 
}

.header{
  padding: 35px;
}